.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html {
  width: 1260px;
  height: 880px;
  background-color: #edf2c5;
  margin: auto;
}

*,
*:before,
*:after {
box-sizing: inherit
}
body{
  margin: auto;
}
.container {
  max-width: 940px;
  margin: auto;
}
.header {
  display: flex;
}
.Vegetables {
  margin: 0;
margin-top: 36px;
margin-right: 479px;
  font-family: Arial;
  font-weight: 900;
  font-size: 44px;
line-height: 62px;
color: #778a50;
}
.button{
  margin-right: 10px;
  margin-top: 60px;
  max-width: 25px;
  max-height: 25px;
}
.bt:hover{
  background-color: #778A50;
  color: #EDF2C5;
}
.line {
  min-width: 1px;
  height: 25px;
  background-color: #778a50;
  margin-top: 60px;
  margin-right: 0px;
}

.bt {
  max-height: 25px;
  border: solid 1px #778a50;
  border-radius: 3px;
  margin-top: 60px;
  margin-left: 10px;
  padding: 0 5px;
  
  text-decoration: none;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  color: #778a50;
  line-height: 25px;
}

.nav {
  padding-left: 30px;
  margin-top: 5px;
  width: 910px;
  height: 44px;
  border-radius: 3px;
  background-color: #778a50;
}  

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list-item {
  list-style-type: none;
  margin-right: 60px;
  line-height: 44px;
}

.nav-list-item-link {
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
  text-decoration: none;
}

.main-area {
  height: 478px;
  width: 940px;
  padding-top: 20px;
}
/*for aside contents*/
.content-aside {
  display: flex;
}

.aside-box {
  /*outer box*/
  padding-left: 30px;
  margin-right: 52px;
  height: 45px;
  width: 414px;;
  border-radius: 3px;
background-color: #778a50;
/*font*/
font-family: Arial;
font-size: 16px;
line-height: 45px;
color: #edf2c5;
}

/*right aside contents*/
.photos {
  width: 444px;
  display: flex;
  justify-content: space-between;
}

.aside-vegatables {
  width: 470px;

}
/*left aside contents*/
.aside-contact {
  width: 444px;
}

.contact_box {
  max-width: 414px;
  max-height: 110px;
  padding: 15px;
  background-color: #f7fbda;
}

.contact_text {
  font-family: Arial;
  font-size: 12px;
  color: #7d7d7d;
}

#p1 {
  margin: 0;
  margin-bottom: 15px;
  line-height: 1.25;
  max-width: 414px;
  height: 44px;
}

.contact_line{
  max-width: 414px;
  min-height: 1px;
  max-height: 1px;
  background-color: #7d7d7d;
}

#p2 {
  margin: 0;
  margin-top: 15px;
  line-height: 1.75;
  max-width: 414px;
  height: 35px;
}

.footer{
  width: 1260px;
  height: 60px;
background-color: #778a50;
margin-top: 35px;

font-family: Arial;
text-align: center;
font-size: 12px;
color: #edf2c5;
line-height: 60px;
}